body {
  background-image: url(../assets/images/background.jpeg); 
  color: gold;
  font-family: 'Space Mono', monospace;
  margin-bottom: 30px;
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0);
}

.card {
  margin: 10px;
  background-color: rgba(233, 233, 233, 0.495);
}

.card-title{
  padding: 15px;
}

.card-text {
  padding: 10px;
}

img {
  width:100%;
}